<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">

        <style>

            @import url('https://fonts.googleapis.com/css?family=Montserrat:500');

            @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@500&display=swap');
    
            @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Righteous&family=Roboto:wght@500&display=swap');

        </style>
       

    </head>


    <body>
      <div class="container">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:23;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:29;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:23;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:29;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:10;"></span>
            <span style="--i:14;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:16;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
            <span style="--i:22;"></span>
            <span style="--i:25;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:15;"></span>
            <span style="--i:23;"></span>
            <span style="--i:26;"></span>
            <span style="--i:17;"></span>
            <span style="--i:13;"></span>
            <span style="--i:29;"></span>
        </div>

        <div class="header">
            <div class="title-name">AirMouse</div>
            <img class="title-image" src="{{url_for('static', filename='tilted-mouse.png')}}" />
               
            <div class="nav-bar">
                <nav>
                    <ul class="nav-links">
                        <li>
                            <a href="https://youtu.be/06isugZY73E" target="_blank"> Tutorial </a>
                        </li>
                    </ul>        
                </nav> 
            </div>           
        </div>


            <div class="information">
                <div class="left-side-information">
                    <div class="left-side-tile-top">
                        <div class="requirements">
                            <h1><span class="underlined underline-clip">About</span></h1>
                        </div>            
                        <p class="about-para">This project allows you to use your hand as a virtual mouse, as well as for other functionalites like volume control and system settings. I built the "virtual" mouse using Python, incorporating many libraries & frameworks such as Mediapipe, CV2, autopy, pyautogui, etc.... I used Flask, HTML/CSS to build this website so it's accesible to the end user &Dagger; Siddharth Prothia &Dagger;</p>
                    </div>
        
                    <div class="left-side-tile-bottom">

                        <div class="requirements">
                            <h1><span class="underlined underline-clip">Requirements</span></h1>
                        </div>

                        <div class="card-super">
                            <div class="card">
                                <img class="card-image" src="{{url_for('static', filename='webcam.png')}}" />
                                <h2 class="card-title">
                                    Webcam
                                </h2>
                                <p class="card-para">
                                    Have access to an HD webcam and attach it to your computer
                                </p>
                            </div>

                            <div class="card">
                                <img class="card-image" src="{{url_for('static', filename='lighting.png')}}" />
                                <h2 class="card-title">
                                    Lighting
                                </h2>
                                <p class="card-para">
                                    Make sure your background is not dark and hand is clearly visible
                                </p>
                            </div>
                        </div>

                        <h3 class="h3-reqs"> Make sure your hand is centered and straight inside the camera frame. <br> Press Q to quit on the camera window.</h3>

                    </div>
                </div>

                <div class="mappings-tile">
                    <div class="mouse-super">
                        <div class="requirements">
                            <h1><span class="underlined underline-clip">Mouse Hand Gestures</span></h1>
                            <h3>Palm should face camera</h3>
                        </div>

                        <div class="mouse-tile">
                            <h2 class="reqs">1&sdot; Mouse</h2>
                            <div class="reqs-row">
                                <p class="reqs-para">&#x2022 To move your mouse, keep all your fingers down except the pointer finger, which you will move inside of the purple box.</p>
                                <img class="mouse-image" src="{{url_for('static', filename='mouse_real.png')}}" />
                            </div>
                        </div>  
                        
                        <div class="mouse-tile">
                            <h2 class="reqs">2&sdot; Left-Click</h2>
                            <div class="reqs-row">
                                <p class="reqs-para">&#x2022 To left-click, hold up the pointer finger and rapidly open and close your thumb.</p>
                                <div class="mouse-images-row">
                                    <img class="mouse-click-image" src="{{url_for('static', filename='mouse_click_real.png')}}" />
                                    <img class="mouse-image" src="{{url_for('static', filename='mouse_real.png')}}" />
                                </div>
                            </div>
                        </div>  

                        <div class="mouse-tile">
                            <h2 class="reqs">3&sdot; Scroll-Down</h2>
                            <div class="reqs-row">
                                <p class="reqs-para">&#x2022 To scroll down, hold up a fist, with all other fingers down.</p>
                                <img class="mouse-image" src="{{url_for('static', filename='mouse_scroll_down_real.png')}}" />
                            </div>
                        </div>  

                        <div class="mouse-tile">
                            <h2 class="reqs">4&sdot; Scroll-Up</h2>
                            <div class="reqs-row">
                                <p class="reqs-para">&#x2022 To scroll up, hold up a 2, with only the pointer and middle finger up.</p>
                                <img class="mouse-image" src="{{url_for('static', filename='mouse_scroll_up_real.png')}}" />
                            </div>
                        </div>  
                        
                    </div>
                    
                </div>

                <div class="mappings-tile">
                    <div class="mouse-super">
                        <div class="requirements">
                            <h1><span class="underlined underline-clip">Other Hand Gestures</span></h1>
                            <h3>Palm should face camera</h3>
                        </div>            

                        <div class="mouse-tile">
                            <h2 class="reqs">1&sdot; Volume Up</h2>
                            <div class="reqs-row">
                                <p class="reqs-para"> &#x2022 To increase volume, lower the pointer finger slightly while holding up all other fingers.</p>
                                <img class="mouse-image" src="{{url_for('static', filename='volume_up.png')}}" />
                            </div>
                           
                        </div>  
                        
                        <div class="mouse-tile">
                            <h2 class="reqs">2&sdot; Volume Down</h2>
                            <div class="reqs-row">
                                <p class="reqs-para">&#x2022 To decrease volume, lower the middle finger slightly while holding up all other fingers.</p>
                                <img class="mouse-image" src="{{url_for('static', filename='volume_down.png')}}" />
                            </div>
                        </div>  
                    </div>               
                </div>
            </div>
        </div>

    </body>

</html>
